/* Estilos CSS para EVA*/

/* Social Brands */
.fi-social-youtube {color: red;font-size: 6rem;}
.fi-social-twitter {color: skyblue;font-size: 6rem;}
.fi-social-facebook {color: dodgerblue;font-size: 6rem;}
.social {fill: #5771FF;stroke: #B7B7B7;stroke-width: 2;}
.social1 {fill: #00A63E;stroke: #B7B7B7;stroke-width: 2;}
.social2 {fill: #A65600;stroke: #B7B7B7;stroke-width: 2;}
.social3 {fill: #FF8500;stroke: #B7B7B7;stroke-width: 2;}
.social4 {fill: #BF4930;stroke: #B7B7B7;stroke-width: 2;}
.social5 {fill: #BF9630;stroke: #B7B7B7;stroke-width: 2;}

/*Brand Colors*/
.brand {fill: #0ABBFF;stroke: #B7B7B7;stroke-width: 2;}
.brand1 {fill: #3599BF;stroke: #B7B7B7;stroke-width: 2;}
.brand2 {fill: #0379A6;stroke: #B7B7B7;stroke-width: 2;}

/*Neutral Colors*/
.neutral {fill: #000000;stroke: #B7B7B7;stroke-width: 2;}
.neutral1 {fill: #191919;stroke: #B7B7B7;stroke-width: 2;}
.neutral2 {fill: #333333;stroke: #B7B7B7;stroke-width: 2;}
.neutral3 {fill: #808080;stroke: #B7B7B7;stroke-width: 2;}
.neutral4 {fill: #B3B3B3;stroke: #B7B7B7;stroke-width: 2;}
.neutral5 {fill: #E6E6E6;stroke: #B7B7B7;stroke-width: 2;}
.neutral6 {fill: #F2F2F2;stroke: #B7B7B7;stroke-width: 2;}
.neutral7 {fill: #FFFFFF;stroke: #B7B7B7;stroke-width: 2;}

/*Transactions Colors*/
.transa {fill: #FFB600;stroke: #B7B7B7;stroke-width: 2;}
.transa1 {fill: #A67600;stroke: #B7B7B7;stroke-width: 2;}
.transa2 {fill: #FF6140;stroke: #B7B7B7;stroke-width: 2;}
.transa3 {fill: #FF8B73;stroke: #B7B7B7;stroke-width: 2;}

body {
    margin-top: 2rem;
}
.title-bar {
    background: #333;
    padding: 0.9rem;
}
.top-bar {
    background: #333;
}
.top-bar ul {
    background: #333;
}
.top-bar ul li {
    background: #333;
}
.top-bar ul li a {
    color: #fff;
}
.menu-text {
    color: #fff;
}
@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important;
    }
}
@media only screen and (min-width: 40em) {
    .top-bar .menu:last-child {
        border-left: 1px solid #4e4e4e;
    }
    .top-bar .menu:first-child {
        border-left: none;
    }
    .top-bar .menu li:not(:last-child) {
        border-right: 1px solid #4e4e4e;
    }
}
.dropdown.menu .submenu {
    border: none;
}
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent;
}
.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff;
}
.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent;
}
