{% extends 'evabase.html.twig' %}

{% block title %}
    Añadir Estudiante{% endblock %}

{% block btn1href %}
    /docente
{% endblock %}
{% block btn1 %}
    Salir
{% endblock %}

{% block LeftColumn %}
    <div class="callout large">
        <h5 style="text-shadow: 4px 4px 6px rgba(100, 155, 255, 0.8); margin: 0; font-family: 'sans-serif'; font-size:20px;">
            Estudiantes Inscritos CursoUno</h5>
        <p>
            <table>
                <thead>
                    <tr>
                        <th width="70">
                            Estudiante
                        </th>
                        <th>Fecha</th>

                        <th >Opciones</th>
                    </tr>
                </thead>

                {%if 'Flauta' starts with 'F'%}
                    <tbody>
                        <tr>
                            <td>
                                {% block nameStudent %}NombreEstudiante{% endblock %}
                            </td>
                            <td>
                                {% block date %}Fecha
                                {% endblock %}
                            </td>
                            <td>
                                <div class="button-group">
                                    <a class="success button">Añadir</a>
                                    <a class="alert button">Rechazar</a>
                                </div>

                            </td>
                        </tr>
                        {%endif%}

                    </table>
                </p>

            </div>
        {% endblock %}

        {% block field %}
            <h5 style="text-shadow: 4px 4px 6px rgba(100, 155, 255, 0.8); margin: 0; font-family: 'sans-serif'; font-size:20px;	">
                CursoUno</h5>
<br>
            <table>
                <thead>
                    <tr>
                        <th width="40">Estudiante
                        </th>
                        <th>Estado</th>
                    </tr>
                </thead>

                {%if 'Book' starts with 'B'%}
                    <tbody>
                        <tr>
                        <td>
                            {% block studentExam %}Nombre
                            {% endblock %}
                        </td>
                            <td>
                                {% block nameExam %}
                                    <button class="hollow button" href="#">
                                         Eliminar </button>
                                {% endblock %}
                            </td>
                            
                        </tr>
                        {%endif%}
                    </table>
                {% endblock %}
